@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Invoices Application</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Invoices Application</h2>
        <p>
            Invoices Application is a sample application that
            allows users to create invoices and fill them with items.
            This app is made as an preliminary task for a job position
            at Enterwell.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Enterwell</h2>
        <p>This is the firm I'm applying to.</p>
        <p><a class="btn btn-default" href="https://enterwell.net/">Go to Enterwell&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Download it !</h2>
        <p>Download the code from GitHub</p>
        <p><a class="btn btn-default" href="https://github.com/stipe2112/InvoicesApp/archive/master.zip">Download &raquo;</a></p>
    </div>
</div>